body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer a {
  text-decoration: none;
}
body {
  background: #000000;
}

.backgroundNegro{
  background: #000000;
}

.filtro_enlaces:hover {
  transition: 500ms;
  filter: brightness(3);
}
