.banner{    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.detalle_el_paciente .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/03_Gallery_ThePatientC-e1668434559811.webp);
}
.detalle_ad_astra .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/adastra.jpg);
}
.detalle_alien .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/Alien.jpg);
}
.detalle_aliens .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/aliens.jpg);
}
.detalle_alien_3 .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/alien3.jpg);
}
.detalle_alien_covenant .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/alienCoventant.jpg);
  
}
.detalle_alien_resurrection .banner{
  background-image: linear-gradient(0deg, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0,0) 60%), url(../img/DetallesCienciaFiccion/alienresurrection.jpg);
  
}

.grilla{
    min-width: 300px;
    min-height: 800px;
    height: 120vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20vh 8vh 6vh 22vh 5vh 43vh 5vh 20vh;
}
.detalles{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: small;
}

.btn_banner{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;

}

.descripcion{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.detalles_titulo{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.mas_detalles{
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: small;
}

.sugerencias_titulo{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sugerencias{
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media all and (min-width: 0px) and (max-width: 767px){
  .grilla{
      min-height: 100vh;
      grid-template-columns: 100%;
      grid-template-rows: 20vh 8.5vh 7vh 40vh 5vh auto 5vh auto;
      row-gap: 25px;   
  }

  .detalle_el_paciente .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/03_Gallery_ThePatientC-e1668434559811.webp);
      background-size: contain;
  }
  .detalle_ad_astra .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/adastra.jpg);
      background-size: contain;
  }
  .detalle_alien .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/Alien.jpg);
      background-size:contain;
    }
    .detalle_aliens .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/aliens.jpg);
      background-size:contain;
    }
    .detalle_alien_3 .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/alien3.jpg);
      background-size:contain;
  }
    .detalle_alien_covenant .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/alienCoventant.jpg);
      background-size:contain
    }
    .detalle_alien_resurrection .banner{
      min-width: 300px;
      background-image: linear-gradient(180deg, rgba(0,0,0, 0) 20vh, rgba(0,0,0, 0.2) 21vh, rgba(0,0,0,0.8) 24vh, rgba(0,0,0,1) 25vh), url(../img/DetallesCienciaFiccion/alienresurrection.jpg);
      background-size:contain
    }


}

@media all and (min-width: 768px) and (max-width: 992px){
    .grilla{
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 20vh 8.5vh 7vh 15vh 5vh auto 5vh auto;
        row-gap: 25px;   
    }

    .detalle_el_paciente .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 28vh, rgba(0,0,0, 0.2) 30vh, rgba(0,0,0,0.8) 32vh, rgba(0,0,0,1) 34vh), url(../img/03_Gallery_ThePatientC-e1668434559811.webp);
        background-size: contain;
    }
    .detalle_ad_astra .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 28vh, rgba(0,0,0, 0.2) 30vh, rgba(0,0,0,0.8) 32vh, rgba(0,0,0,1) 34vh), url(../img/DetallesCienciaFiccion/adastra.jpg);
        background-size: contain;
    }
    .detalle_alien .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 24vh, rgba(0,0,0, 0.2) 26vh, rgba(0,0,0,0.8) 28vh, rgba(0,0,0,1) 30vh), url(../img/DetallesCienciaFiccion/Alien.jpg);
        background-size:contain;
      }
      .detalle_aliens .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 24vh, rgba(0,0,0, 0.2) 26vh, rgba(0,0,0,0.8) 28vh, rgba(0,0,0,1) 30vh), url(../img/DetallesCienciaFiccion/aliens.jpg);
        background-size:contain;
      }
      .detalle_alien_3 .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 24vh, rgba(0,0,0, 0.2) 26vh, rgba(0,0,0,0.8) 28vh, rgba(0,0,0,1) 30vh), url(../img/DetallesCienciaFiccion/alien3.jpg);
        background-size:contain;
    }
      .detalle_alien_covenant .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 24vh, rgba(0,0,0, 0.2) 26vh, rgba(0,0,0,0.8) 28vh, rgba(0,0,0,1) 30vh), url(../img/DetallesCienciaFiccion/alienCoventant.jpg);
        background-size:contain
      }
      .detalle_alien_resurrection .banner{
        min-width: 300px;
        background-image: linear-gradient(180deg, rgba(0,0,0, 0) 24vh, rgba(0,0,0, 0.2) 26vh, rgba(0,0,0,0.8) 28vh, rgba(0,0,0,1) 30vh), url(../img/DetallesCienciaFiccion/alienresurrection.jpg);
        background-size:contain
      }

}

    